# Node / Frontend build artifacts
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Python cache & virtual environments
__pycache__/
backend/__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Datasets and Models
*.csv
*.pkl

# System files & IDEs
.DS_Store
Thumbs.db
.env
.vscode/
.idea/
